.light-blue-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #b9efef;
  padding: 50px;

  .auth-form-container {
    width: 460px;
    height: 610px;
    text-align: center;
    margin: 0 auto;
    .auth-header {
      text-align: center;
      display: inline-flex;
      padding-bottom: 20px;
      a {
        font-weight: 600;
      }
      h2 {
        padding-left: 10px;
        font-weight: 600;
      }
    }
    .auth-form {
      .auth-input {
        margin: 0 auto;
        width: calc(100% - 15px );
        max-width: 300px;
        label {
          display: flex;
          flex-direction: column;
          width: calc(100% - 15px );
          text-align: left;
          h2 {
            padding-bottom: 5px;
            font-size: 13px;
          }
        input {
          width: calc(100% - 15px );
          display: block;
          padding: 10px 15px;
          margin: 0 auto 10px;
          border: none;
          font-size: 15px;
          line-height: 20px;
          background-color: #fff;
          color: #2a2f35;
          border-radius: 3px;
        }
      }
      }
      .auth-emoji {
        padding-bottom: 20px;
        font-size: 30px;
      }
      
      display: flex;
      flex-direction: column;
    }
  }
}

.blue-bg, .auth-fb-button {
  background: #4c7bd9;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  border-radius: 3px;
  color: white;
  margin-top: 40px;
}

.auth-fb-button {
  height: 48px;
  background: #3260c7;
  padding: 0;
  margin-bottom: 20px;
  .fa-facebook-f {
    margin-right: 10px;
  }
}

.auth-error {
  position: fixed;
  top: -80px;
  left: 0;
  width: 100vw;
  padding-top: 30px;
  height: 50px;
  color: white;
  background-color: #fb674e;
  animation: fade 3.5s ease-in-out;
  animation-iteration-count: 1;
}

@keyframes fade {
  0%,100% { top: -80px }
  25%,50%,75% { top: 0px; }
}