.dog-show-container {
  background-color: #f3f5f9;
  height: 100vh;
}

.dog-show-info-content {
  padding-top: 20px;
  min-height: 420px;
  width: 1000px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
  &-main {
    padding-top: 50px;
    float: left;
    width: 560px;
    padding-right: 50px;
    .dog-show-desc {
      position: relative;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0,0,0,.1);
      &-header {
        padding: 20px 20px 0;
        margin-bottom: 8px;
        color: #9d9dab;
        font-size: 12px;
        line-height: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-wrap: break-word;
      }
      &-contents {
        position: relative;
        padding: 0 20px 20px;
        color: #2a2f35;
        font-size: 18px;
        word-wrap: break-word;
        white-space: pre-wrap;
        &--collapsed {
          max-height: 300px;
          overflow: hidden;
        }
      }
    }
  }
  &-sidebar {
    float: right;
    width: 320px;
    padding-top: 50px;
    &-details-row {
      padding-bottom: 10px;
      span {
        color: rgb(42, 47, 53);
        margin-right: 20px;
        font-size: 16px;
      }
    }
  }
}

.dog-show-desc-expander {
  height: 180px;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: left;
  &--hidden {
    display: none;
  }
  &-bg {
    background-image: linear-gradient(hsla(0,0%,100%,0),#f3f5f9 80%,#f3f5f9);
    height: 180px;
  }
  &-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    transition: bottom .3s ease;
    color: #4c7bd9;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
  }
}

