.home-container {
  background-color: #f3f5f9;
  width: 100%;
}

.navigation {
  position: sticky;
  width: 100%;
  height: 66px;
  background: #104da1;
  border-bottom: 1px solid hsla(0,0%,100%,.1);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: white;
  .nav-left {
    left: 0;
    padding-left: 15px;
    position: absolute;
    a {
      position: relative;
      color: #d6e1f9;
      vertical-align: sub;
      &:hover {
        color: white;
      }
    }
    .fa-dog {
      line-height: 66px;
      color: white;
    }
  }
  .nav-right {
    right: 0;
    padding-right: 18px;
    position: absolute;
    .fa-comment, .fa-user {
      font-size: 35px;
      line-height: 66px;
      padding-right: 15px;
      cursor: pointer;
      color: #d6e1f9;
      &:hover {
        color: white;
      }
    }
    a {
      position: relative;
      color: #d6e1f9;
      vertical-align: sub;
      &:hover {
        color: white;
      }
    }
  }
}

.hidden {
  display: none;
}

.show-hidden {
  display: block;
}

#user-dropdown {
  position: absolute;
  z-index: 2;
  top: 70px;
  right: 10px;
  padding: 0 20px;
  width: 170px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0,17,53,.16), 0 0 5px 0 rgba(0,17,53,.16);
  background-color: white;
  color: #2a2f35;
}

#user-dropdown::before {
  content: "";
  position: absolute;
  right: 22px;
  top: -8px;
  height: 0;
  width: 0;
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.user-dropdown-lis {
  cursor: pointer;
  height: 50px;
  font-size: 15px;
  border-bottom: 1px solid rgba(0,0,0,.3);
  display: flex;
  align-items: center;
}

.user-dropdown-lis:last-of-type {
  border: none;
}

.user-dropdown-lis:hover {
  color: #4c7bd9;
}