.sub-nav {
  background-color: #104da1;
  box-sizing: border-box;
  height: 150px;
  padding: 50px 0 0 60px;
  h1 {
    color: white;
    font-size: 35px;
    font-weight: 400;
  }
}

.liked-dogs {
  margin: 100px 200px;
}

.liked-dog {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  display: flex;
  align-items: center;
  width: 535px;
  height: 90px;
  padding: 15px;
  margin-bottom: 20px;
}

.liked-dog-pic {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.liked-dog-line-1 {
  color: #1e1e1e;  
  margin-bottom: 10px;
  font-weight: 700;
}

.liked-dog-line-2 {
  color: #56585c;
  font-size: 14px;
}