html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, h4, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent; }

ul, ol {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button,
input[type="submit"], a {
  cursor: pointer; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f5f9; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.fa-dog {
  font-size: 35px;
  margin-right: 10px; }

.splash-container {
  min-height: 766px;
  padding: 50px;
  transition-property: all;
  transition-duration: 0.5s; }
  .splash-container h1 {
    font-family: 'Raleway';
    font-size: 45px;
    color: white;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
    -moz-text-stroke: 2px black;
    -moz-text-fill-color: white;
    text-shadow: -1px 1px 0px black, -2px 2px 0px black, -3px 3px 0px black, -4px 4px 0px black, -5px 5px 0px black, -6px 6px 0px black, -7px 7px 0px black; }
  .splash-container p {
    font-size: 20px;
    width: 40%;
    line-height: 30px;
    margin: 20px 0px; }
  .splash-container button {
    background-color: black;
    color: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    font-weight: 600;
    font-size: 15px; }

.splash-bg-1-color {
  background-color: #21c3fd; }

.splash-bg-2-color {
  background-color: #f0a1c1; }

.splash-bg-3-color {
  background-color: #21bd66; }

.splash-bg-1 {
  background-image: url("../assets/images/splash-bg-1.png");
  background-color: #21c3fd;
  background-repeat: no-repeat;
  background-position: calc(50% + 300px) calc(10% + 100px);
  background-size: 900px;
  background-position-y: 10%; }

.splash-bg-2 {
  background-image: url("../assets/images/splash-bg-2.png");
  background-color: #f0a1c1;
  background-repeat: no-repeat;
  background-position-x: 75%;
  background-size: 900px;
  background-position-y: -25%; }

.splash-bg-3 {
  background-image: url("../assets/images/splash-bg-3.png");
  background-color: #21bd66;
  background-repeat: no-repeat;
  background-position-x: 75%;
  background-size: 766px;
  background-position-y: 39%; }

.nav {
  display: flex;
  justify-content: space-between; }
  .nav button {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 1px solid black;
    width: 50px;
    height: min-content;
    font-size: 12px;
    padding: 10px;
    height: 1em; }

.logo {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px; }
  .logo h2 {
    font-family: 'Lilita One';
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 3px black;
    font-size: 33px; }

.splash-footer-container {
  padding: 20px 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.splash-footer-column h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 5px; }
.splash-footer-column li {
  font-size: 12px;
  line-height: 1.5em; }
.splash-footer-column a {
  text-decoration: underline; }
.splash-footer-column .dev-name {
  font-weight: 600; }

.light-blue-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #b9efef;
  padding: 50px; }

.sea-blue-bg {
  background-color: #30b7c4;
  height: 409px;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed; }

.blue-bg {
  background-color: #4c7bd9; }

.gray-bg {
  background-color: #949aa6;
  cursor: default; }

.blue-bg:hover {
  background-color: #5984dc; }

.onboarding-box {
  position: absolute;
  left: calc(50% - 287.5px);
  bottom: 165px;
  width: 575px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.onboarding-chatbox {
  background-color: white;
  padding: 25px 30px;
  width: 200px;
  height: 158px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px; }

.onboarding-chatbox::after {
  position: absolute;
  content: "";
  bottom: -6px;
  left: 50%;
  margin-left: -5px;
  transform: rotate(45deg);
  background: white;
  width: 10px;
  height: 10px;
  border-right: 1px solid #a3d2d2;
  border-bottom: 1px solid #a3d2d2; }

.onboarding-chatbox-top {
  font-weight: 700;
  font-size: 24px;
  color: #2a2f35;
  margin-top: 15px;
  margin-bottom: 15px; }

.onboarding-chatbox-bottom {
  font-size: 19px;
  color: #2a2f35; }

.button {
  border-radius: 4px;
  text-align: center; }

.next-btn {
  width: 320px;
  height: 60px;
  color: white;
  font-weight: 700; }

.onboarding-img {
  background-size: cover;
  height: 97px;
  width: 105px;
  margin-top: 46px;
  margin-bottom: 135px; }

.weird-thing {
  background-image: url("https://cdn.okccdn.com/media/img/illustrations/wright-png/ladder.png"); }

.weird-thing-2 {
  background-image: url("https://cdn.okccdn.com/media/img/illustrations/wright-png/them.png"); }

.prompt {
  font-size: 24px;
  font-weight: 700; }

.profile-inputs {
  height: 365px;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.red-txt {
  color: #f95133; }

.green-txt {
  color: #1fc174; }

.input-message {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin-bottom: 10px; }

.input-container {
  position: relative;
  display: flex;
  align-items: center; }

.onboarding-input {
  background-color: white;
  padding: 1px 30px 1px 13px;
  width: 188px;
  height: 54px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }

.input-icon {
  position: absolute;
  z-index: 2;
  right: 10px; }

.profile-notice {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #2a2f35; }

.about-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative; }
  .about-header h4 {
    font-weight: 400; }

.back-btn {
  position: absolute;
  left: 10px; }

.white-box {
  background-color: white;
  width: 336px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }

.row {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px; }

.radio-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px; }

.form-radio {
  display: inline-block;
  height: 24px;
  width: 24px;
  border: 1px solid #ccd0d9;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  margin-left: 5px; }

.form-radio:checked {
  border: 1px solid #4c7bd9; }

.form-radio:checked::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #4c7bd9;
  height: 14px;
  width: 14px;
  left: 5px;
  top: 5px; }

.form-radio:hover {
  border-color: #adb0b8; }

.form-checkbox {
  display: inline-block;
  height: 24px;
  width: 24px;
  border: 1px solid #4c7bd9;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  margin-left: 5px; }

.form-checkbox:checked::before {
  content: "\02143";
  position: absolute;
  border-radius: 50%;
  color: #4c7bd9;
  transform: rotate(40deg);
  font-weight: 700;
  height: 14px;
  width: 14px;
  left: 8px;
  top: 5px; }

.home-container {
  background-color: #f3f5f9;
  width: 100%; }

.navigation {
  position: sticky;
  width: 100%;
  height: 66px;
  background: #104da1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: white; }
  .navigation .nav-left {
    left: 0;
    padding-left: 15px;
    position: absolute; }
    .navigation .nav-left a {
      position: relative;
      color: #d6e1f9;
      vertical-align: sub;
      padding-right: 20px; }
      .navigation .nav-left a:hover {
        color: white; }
    .navigation .nav-left .fa-dog {
      line-height: 66px;
      color: white; }
  .navigation .nav-right {
    right: 0;
    padding-right: 18px;
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 15px; }
    .navigation .nav-right .fa-comment, .navigation .nav-right .fa-user, .navigation .nav-right .fa-star {
      font-size: 35px;
      padding-right: 15px;
      cursor: pointer;
      color: #d6e1f9; }
      .navigation .nav-right .fa-comment:hover, .navigation .nav-right .fa-user:hover, .navigation .nav-right .fa-star:hover {
        color: white; }
    .navigation .nav-right a {
      position: relative;
      color: #d6e1f9;
      vertical-align: sub; }
      .navigation .nav-right a:hover {
        color: white; }

#user-dropdown {
  position: absolute;
  z-index: 2;
  top: 70px;
  right: 10px;
  padding: 0 20px;
  width: 170px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 17, 53, 0.16), 0 0 5px 0 rgba(0, 17, 53, 0.16);
  background-color: white;
  color: #2a2f35; }

#user-dropdown::before {
  content: "";
  position: absolute;
  right: 22px;
  top: -8px;
  height: 0;
  width: 0;
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; }

.user-dropdown-lis {
  cursor: pointer;
  height: 50px;
  font-size: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center; }

.user-dropdown-lis:last-of-type {
  border: none; }

.user-dropdown-lis:hover {
  color: #4c7bd9; }

.dog-show-info {
  padding-top: 50px;
  margin-bottom: 30px;
  height: 150px;
  background-color: #104da1;
  background-image: linear-gradient(#104da1, #0f4693); }
  .dog-show-info-inner {
    position: relative;
    width: 1000px;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: auto;
    margin-right: auto; }
    .dog-show-info-inner-content {
      float: left;
      margin-left: -30px;
      margin-bottom: -30px; }
      .dog-show-info-inner-content .profile-thumb {
        float: left;
        position: relative;
        z-index: 2;
        width: 180px;
        height: 180px; }
        .dog-show-info-inner-content .profile-thumb img {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          object-fit: cover; }
      .dog-show-info-inner-content .profile-basics {
        position: relative;
        float: left;
        margin-top: 37px;
        margin-left: 8px;
        padding: 12px;
        padding-top: 8px;
        white-space: nowrap; }
        .dog-show-info-inner-content .profile-basics h1 {
          color: #fff;
          font-size: 35px;
          font-weight: 100; }
        .dog-show-info-inner-content .profile-basics-asl {
          color: #e4edfd;
          font-size: 19px;
          line-height: 26px;
          font-weight: 100; }
          .dog-show-info-inner-content .profile-basics-asl-spacer {
            padding: 0 5px 0 4px;
            font-weight: 400;
            color: #9dbaf2;
            font-size: 15px;
            line-height: 26px; }
      .dog-show-info-inner-content .like-pooch {
        float: right;
        width: 155px;
        height: 30px;
        background-color: white;
        cursor: pointer;
        color: #3260c7;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 20px;
        margin-left: 20px;
        padding: 10px 0;
        font-weight: 700;
        font-size: 18px;
        border-radius: 50px; }
        .dog-show-info-inner-content .like-pooch .fa-star {
          color: #ffaf0d; }
        .dog-show-info-inner-content .like-pooch:hover {
          color: white;
          background-color: #ffaf0d; }
          .dog-show-info-inner-content .like-pooch:hover .fa-star {
            color: white; }

.dog-show-container {
  background-color: #f3f5f9;
  height: 100vh; }

.dog-show-info-content {
  padding-top: 20px;
  min-height: 420px;
  width: 1000px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto; }
  .dog-show-info-content-main {
    padding-top: 50px;
    float: left;
    width: 560px;
    padding-right: 50px;
    padding-bottom: 20px; }
    .dog-show-info-content-main .dog-show-desc {
      position: relative;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
      .dog-show-info-content-main .dog-show-desc-header {
        padding: 20px 20px 0;
        margin-bottom: 8px;
        color: #9d9dab;
        font-size: 12px;
        line-height: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-wrap: break-word; }
      .dog-show-info-content-main .dog-show-desc-contents {
        position: relative;
        padding: 0 20px 20px;
        color: #2a2f35;
        font-size: 18px;
        word-wrap: break-word;
        white-space: pre-wrap; }
        .dog-show-info-content-main .dog-show-desc-contents--collapsed {
          max-height: 300px;
          overflow: hidden; }
        .dog-show-info-content-main .dog-show-desc-contents h3 {
          font-weight: 600;
          margin: 10px 0px 5px 0px; }
  .dog-show-info-content-sidebar {
    float: right;
    width: 320px;
    padding-top: 50px; }
    .dog-show-info-content-sidebar-details {
      padding-bottom: 20px; }
    .dog-show-info-content-sidebar-details-header {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      color: #2a2f35; }
    .dog-show-info-content-sidebar-details-row {
      padding: 10px 0px; }
      .dog-show-info-content-sidebar-details-row span, .dog-show-info-content-sidebar-details-row div {
        color: #2a2f35;
        margin-right: 20px;
        font-size: 16px; }
      .dog-show-info-content-sidebar-details-row a {
        color: #104da1;
        text-decoration: underline; }

.dog-show-desc-expander {
  height: 180px;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: left; }
  .dog-show-desc-expander--hidden {
    display: none; }
  .dog-show-desc-expander-bg {
    background-image: linear-gradient(rgba(255, 255, 255, 0), #f3f5f9 80%, #f3f5f9);
    height: 180px; }
  .dog-show-desc-expander-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    transition: bottom .3s ease;
    color: #4c7bd9;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px; }

.dog-items-list {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; }

.dog-index-item {
  position: relative;
  overflow: hidden;
  border: none;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0 5px 20px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 4px;
  width: 180px;
  padding: 10px;
  height: 280px; }
  .dog-index-item:hover .dog-index-item-thumb {
    transform: scale(1.05); }
  .dog-index-item-match {
    padding: 6px;
    text-align: center;
    color: #3260c7;
    border: 1px solid #3260c7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 41px;
    border-radius: 13px;
    font-size: 14px;
    line-height: 12px;
    margin: 10px auto; }
    .dog-index-item-match-green {
      padding: 6px;
      text-align: center;
      color: white;
      background-color: #00d280;
      border: 1px solid #00d280;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 26px;
      width: 41px;
      border-radius: 13px;
      font-size: 14px;
      line-height: 12px;
      margin: 10px auto; }
  .dog-index-item-thumb {
    top: -20px;
    margin-bottom: -20px;
    height: 158px;
    width: 180px;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    object-fit: cover;
    object-position: top;
    transition: transform .25s ease; }
  .dog-index-item-info {
    text-align: center;
    align-self: stretch;
    padding: 14px 0; }
    .dog-index-item-info h3 {
      text-align: center;
      align-items: center;
      color: #1e1e1e;
      font-size: 16px;
      line-height: 22px;
      font-weight: 600;
      margin-bottom: 4px; }
    .dog-index-item-info h4 {
      color: #56585c;
      font-size: 14px;
      line-height: 18px; }

.light-blue-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #b9efef;
  padding: 50px; }
  .light-blue-bg .auth-form-container {
    width: 460px;
    height: 610px;
    text-align: center;
    margin: 0 auto; }
    .light-blue-bg .auth-form-container .auth-header {
      text-align: center;
      display: inline-flex;
      padding-bottom: 20px; }
      .light-blue-bg .auth-form-container .auth-header a {
        font-weight: 600; }
      .light-blue-bg .auth-form-container .auth-header h2 {
        padding-left: 10px;
        font-weight: 600; }
    .light-blue-bg .auth-form-container .auth-form {
      display: flex;
      flex-direction: column; }
      .light-blue-bg .auth-form-container .auth-form .auth-input {
        margin: 0 auto;
        width: calc(100% - 15px );
        max-width: 300px; }
        .light-blue-bg .auth-form-container .auth-form .auth-input input {
          width: calc(100% - 15px );
          display: block;
          padding: 10px 15px;
          margin: 0 auto 10px;
          border: none;
          font-size: 15px;
          line-height: 20px;
          background-color: #fff;
          color: #2a2f35;
          border-radius: 3px; }
        .light-blue-bg .auth-form-container .auth-form .auth-input label {
          display: flex;
          flex-direction: column;
          width: calc(100% - 15px );
          text-align: left; }
          .light-blue-bg .auth-form-container .auth-form .auth-input label h2 {
            padding-bottom: 5px;
            font-size: 13px; }
      .light-blue-bg .auth-form-container .auth-form .auth-emoji {
        padding-bottom: 20px;
        font-size: 30px; }

.auth-fb-button {
  background: #4c7bd9;
  padding: 20px;
  width: 100%;
  max-width: 320px;
  border-radius: 3px;
  color: white;
  margin-top: 40px; }

.auth-fb-button {
  height: 48px;
  background: #3260c7;
  padding: 0;
  margin-bottom: 20px; }
  .auth-fb-button .fa-facebook-f {
    margin-right: 10px; }

.auth-error-dropdown {
  position: fixed;
  top: -80px;
  left: 0;
  width: 100vw;
  padding-top: 30px;
  height: 50px;
  color: white;
  background-color: #fb674e;
  animation: fade 3.5s ease-in-out;
  animation-iteration-count: 1; }

@keyframes fade {
  0%,100% {
    top: -80px; }
  25%,50%,75% {
    top: 0px; } }
.auth-separator {
  position: relative;
  width: 100%;
  height: 42px;
  margin: 25px 0;
  line-height: 42px; }
  .auth-separator-line {
    position: absolute;
    top: 21px;
    left: 0;
    width: 100%;
    border-top: 1px solid #4fc5d0; }
  .auth-separator-text {
    position: absolute;
    left: 0;
    right: 0;
    height: 42px;
    width: 42px;
    margin: auto;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: #4fc5d0;
    background: #b9efef;
    border-radius: 50%;
    border: 1px solid #4fc5d0; }

.auth-error-inline-form {
  font-size: 14px;
  color: #fb674e;
  text-align: right;
  width: 100%;
  max-width: 395px;
  padding-bottom: 10px;
  height: 20px; }

.auth-signup-header {
  font-size: 30px;
  font-weight: 600; }

.auth-inline-input-icon {
  display: inline; }

.gray-bg, .blue-bg {
  background: #949aa6;
  height: 58px;
  margin: auto;
  border-radius: 3px;
  width: 100%;
  max-width: 320px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 20px; }

.signup .gray-bg, .signup .blue-bg {
  margin-left: 15px; }

.blue-bg {
  background: #4c7bd9; }

.auth-input-signup-password-label {
  display: flex;
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 10px; }

.auth-input-signup-password {
  width: 100%;
  max-width: 300px;
  margin: 0 auto; }
  .auth-input-signup-password input {
    width: calc(100% - 15px );
    display: block;
    padding: 10px 15px;
    margin: 0 auto 10px;
    border: none;
    font-size: 15px;
    line-height: 20px;
    background-color: #fff;
    color: #2a2f35;
    border-radius: 3px; }

.sub-nav {
  background-color: #104da1;
  box-sizing: border-box;
  height: 150px;
  padding: 50px 0 0 60px; }
  .sub-nav h1 {
    color: white;
    font-size: 35px;
    font-weight: 400; }

.liked-dogs {
  margin: 100px auto;
  width: 535px; }

.liked-dog {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  height: 90px;
  padding: 15px;
  margin-bottom: 20px; }

.liked-dog-pic {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px; }

.liked-dog-line-1 {
  color: #1e1e1e;
  margin-bottom: 10px;
  font-weight: 700; }

.liked-dog-line-2 {
  color: #56585c;
  font-size: 14px; }

.search-container {
  height: 100px;
  padding-bottom: 0;
  padding-top: 0;
  color: #f3f5f9;
  background-color: #104da1;
  margin-bottom: 30px; }

.search-filters {
  position: relative;
  text-align: center; }
  .search-filters-container {
    padding: 30px 50px; }
  .search-filters-wrapper {
    position: relative; }

.open-filter {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  color: #e4edfd;
  border-bottom: 1px dashed #e4edfd;
  font-size: 17px;
  line-height: 22px; }
  .open-filter:hover {
    border-bottom: 1px solid #e4edfd; }

.filter-search-options {
  width: 400px;
  margin-left: -35px;
  position: absolute;
  left: 50%;
  top: 40px;
  text-align: left;
  color: #e4edfd; }

.contents {
  color: #2a2f35;
  border-radius: 3px;
  padding: 14px 20px;
  background: #f3f5f9;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 17, 53, 0.16), 0 0 5px 0 rgba(0, 17, 53, 0.16); }
  .contents label {
    padding-right: 20px;
    padding-bottom: 10px;
    vertical-align: middle; }

.age-options,
.coat-options,
.gender-options,
.distance-options,
.location-options,
.size-options {
  display: none; }

.age-options.show,
.coat-options.show,
.gender-options.show,
.distance-options.show,
.location-options.show,
.size-options.show {
  background: #f3f5f9;
  display: block;
  z-index: 50; }

.tail {
  left: 35px;
  background: #f3f5f9;
  border-top-width: 1px;
  border-left-width: 1px;
  top: -7px;
  position: absolute;
  width: 14px;
  height: 14px;
  border: 0 solid #ccd0d9;
  transform: rotate(45deg); }

.filter-search-options.coat-options {
  width: 340px; }

.filter-search-options.gender-options {
  width: 220px; }

.filter-search-options.distance-options {
  width: 300px; }

.filter-search-options.size-options {
  width: 330px; }

.form-input {
  background-color: white;
  margin-top: 10px;
  padding: 1px 30px 1px 13px;
  width: 188px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  display: block; }

.search-filters .form-checkbox {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  margin-bottom: 3px; }
.search-filters .form-checkbox:checked::before {
  content: "\02143";
  position: absolute;
  border-radius: 50%;
  color: #4c7bd9;
  transform: rotate(40deg);
  font-weight: 700;
  height: 0px;
  width: 35px;
  left: 5px;
  top: 7px; }

/*# sourceMappingURL=output.css.map */
