html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, h4, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent; }

ul, ol {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button,
input[type="submit"], a {
  cursor: pointer; }

body {
  font-family: 'Roboto', sans-serif; }

.fa-dog {
  font-size: 35px;
  margin-right: 10px; }

.splash-container {
  min-height: 766px;
  padding: 50px;
  transition-property: all;
  transition-duration: 0.5s; }
  .splash-container h1 {
    font-family: 'Raleway';
    font-size: 45px;
    color: white;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
    -moz-text-stroke: 2px black;
    -moz-text-fill-color: white;
    text-shadow: -1px 1px 0px black, -2px 2px 0px black, -3px 3px 0px black, -4px 4px 0px black, -5px 5px 0px black, -6px 6px 0px black, -7px 7px 0px black; }
  .splash-container p {
    font-size: 20px;
    width: 40%;
    line-height: 30px;
    margin: 20px 0px; }
  .splash-container button {
    background-color: black;
    color: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    font-weight: 600;
    font-size: 15px; }

.splash-bg-1-color {
  background-color: #21c3fd; }

.splash-bg-2-color {
  background-color: #f0a1c1; }

.splash-bg-3-color {
  background-color: #21bd66; }

.splash-bg-1 {
  background-image: url("../assets/images/splash-bg-1.png");
  background-color: #21c3fd;
  background-repeat: no-repeat;
  background-position: calc(50% + 300px) calc(10% + 100px);
  background-size: 900px;
  background-position-y: 10%; }

.splash-bg-2 {
  background-image: url("../assets/images/splash-bg-2.png");
  background-color: #f0a1c1;
  background-repeat: no-repeat;
  background-position-x: 75%;
  background-size: 900px;
  background-position-y: -25%; }

.splash-bg-3 {
  background-image: url("../assets/images/splash-bg-3.png");
  background-color: #21bd66;
  background-repeat: no-repeat;
  background-position-x: 75%;
  background-size: 766px;
  background-position-y: 39%; }

.nav {
  display: flex;
  justify-content: space-between; }
  .nav button {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 1px solid black;
    width: 50px;
    height: min-content;
    font-size: 12px;
    padding: 10px;
    height: 1em; }

.logo {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px; }
  .logo h2 {
    font-family: 'Lilita One';
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 3px black;
    font-size: 33px; }

.splash-footer-container {
  padding: 20px 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.splash-footer-column h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 5px; }
.splash-footer-column li {
  font-size: 12px;
  line-height: 1.5em; }
.splash-footer-column a {
  text-decoration: underline; }
.splash-footer-column .dev-name {
  font-weight: 600; }

.home-container {
  background-color: #f3f5f9;
  width: 100%; }

.navigation {
  position: sticky;
  width: 100%;
  height: 66px;
  background: #104da1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: white; }
  .navigation .nav-left {
    left: 0;
    padding-left: 15px;
    position: absolute; }
    .navigation .nav-left a {
      position: relative;
      color: #d6e1f9;
      vertical-align: sub; }
      .navigation .nav-left a:hover {
        color: white; }
    .navigation .nav-left .fa-dog {
      line-height: 66px;
      color: white; }
  .navigation .nav-right {
    right: 0;
    padding-right: 18px;
    position: absolute; }
    .navigation .nav-right .fa-comment {
      font-size: 35px;
      line-height: 66px;
      padding-right: 15px; }
    .navigation .nav-right a {
      position: relative;
      color: #d6e1f9;
      vertical-align: sub; }
      .navigation .nav-right a:hover {
        color: white; }

.dog-show-info {
  padding-top: 50px;
  margin-bottom: 30px;
  height: 150px;
  background-color: #104da1;
  background-image: linear-gradient(#104da1, #0f4693); }
  .dog-show-info-inner {
    position: relative;
    width: 1000px;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: auto;
    margin-right: auto; }
    .dog-show-info-inner-content {
      float: left;
      margin-left: -30px;
      margin-bottom: -30px; }
      .dog-show-info-inner-content .profile-thumb {
        float: left;
        position: relative;
        z-index: 2;
        width: 180px;
        height: 180px; }
        .dog-show-info-inner-content .profile-thumb img {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          object-fit: cover; }
      .dog-show-info-inner-content .profile-basics {
        position: relative;
        float: left;
        margin-top: 37px;
        margin-left: 8px;
        padding: 12px;
        padding-top: 8px;
        max-width: 390px;
        white-space: nowrap; }
        .dog-show-info-inner-content .profile-basics h1 {
          color: #fff;
          font-size: 35px;
          font-weight: 100; }
        .dog-show-info-inner-content .profile-basics-asl {
          color: #e4edfd;
          font-size: 19px;
          line-height: 26px;
          font-weight: 100; }
          .dog-show-info-inner-content .profile-basics-asl-spacer {
            padding: 0 5px 0 4px;
            font-weight: 400;
            color: #9dbaf2;
            font-size: 15px;
            line-height: 26px; }

.dog-show-container {
  background-color: #f3f5f9;
  height: 100vh; }

.dog-show-info-content {
  padding-top: 20px;
  min-height: 420px;
  width: 1000px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto; }
  .dog-show-info-content-main {
    padding-top: 50px;
    float: left;
    width: 560px;
    padding-right: 50px; }
    .dog-show-info-content-main .dog-show-desc {
      position: relative;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
      .dog-show-info-content-main .dog-show-desc-header {
        padding: 20px 20px 0;
        margin-bottom: 8px;
        color: #9d9dab;
        font-size: 12px;
        line-height: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-wrap: break-word; }
      .dog-show-info-content-main .dog-show-desc-contents {
        padding: 0 20px 20px;
        color: #2a2f35;
        font-size: 18px;
        word-wrap: break-word;
        white-space: pre-wrap; }

.dog-items-list {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; }

.dog-index-item {
  position: relative;
  overflow: hidden;
  border: none;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0 5px 20px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 4px;
  width: 180px;
  padding: 20px; }
  .dog-index-item:hover .dog-index-item-thumb {
    transform: scale(1.05); }
  .dog-index-item-thumb {
    top: -20px;
    margin-bottom: -20px;
    height: 158px;
    width: 180px;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    object-fit: cover;
    object-position: top;
    transition: transform .25s ease; }
  .dog-index-item-info {
    text-align: center;
    align-self: stretch;
    padding: 14px 0; }
    .dog-index-item-info h3 {
      text-align: center;
      align-items: center;
      color: #1e1e1e;
      font-size: 16px;
      line-height: 22px;
      font-weight: 600;
      margin-bottom: 4px; }
    .dog-index-item-info h4 {
      color: #56585c;
      font-size: 14px;
      line-height: 18px; }

.light-blue-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #b9efef;
  padding: 50px; }
  .light-blue-bg .auth-form-container {
    width: 460px;
    height: 610px;
    text-align: center;
    margin: 0 auto; }
    .light-blue-bg .auth-form-container .auth-header {
      text-align: center;
      display: inline-flex;
      padding-bottom: 20px; }
      .light-blue-bg .auth-form-container .auth-header a {
        font-weight: 600; }
      .light-blue-bg .auth-form-container .auth-header h2 {
        padding-left: 10px;
        font-weight: 600; }
    .light-blue-bg .auth-form-container .auth-form {
      display: flex;
      flex-direction: column; }
      .light-blue-bg .auth-form-container .auth-form .auth-input {
        margin: 0 auto;
        width: calc(100% - 15px );
        max-width: 300px; }
        .light-blue-bg .auth-form-container .auth-form .auth-input input {
          width: calc(100% - 15px );
          display: block;
          padding: 10px 15px;
          margin: 0 auto 10px;
          border: none;
          font-size: 15px;
          line-height: 20px;
          background-color: #fff;
          color: #2a2f35;
          border-radius: 3px; }
        .light-blue-bg .auth-form-container .auth-form .auth-input label {
          display: flex;
          flex-direction: column;
          width: calc(100% - 15px );
          text-align: left; }
          .light-blue-bg .auth-form-container .auth-form .auth-input label h2 {
            padding-bottom: 5px;
            font-size: 13px; }
      .light-blue-bg .auth-form-container .auth-form .auth-emoji {
        padding-bottom: 20px;
        font-size: 30px; }

.auth-fb-button {
  background: #4c7bd9;
  padding: 20px;
  width: 100%;
  max-width: 320px;
  border-radius: 3px;
  color: white;
  margin-top: 40px; }

.auth-fb-button {
  height: 48px;
  background: #3260c7;
  padding: 0;
  margin-bottom: 20px; }
  .auth-fb-button .fa-facebook-f {
    margin-right: 10px; }

.auth-error-dropdown {
  position: fixed;
  top: -80px;
  left: 0;
  width: 100vw;
  padding-top: 30px;
  height: 50px;
  color: white;
  background-color: #fb674e;
  animation: fade 3.5s ease-in-out;
  animation-iteration-count: 1; }

@keyframes fade {
  0%,100% {
    top: -80px; }
  25%,50%,75% {
    top: 0px; } }
.auth-separator {
  position: relative;
  width: 100%;
  height: 42px;
  margin: 25px 0;
  line-height: 42px; }
  .auth-separator-line {
    position: absolute;
    top: 21px;
    left: 0;
    width: 100%;
    border-top: 1px solid #4fc5d0; }
  .auth-separator-text {
    position: absolute;
    left: 0;
    right: 0;
    height: 42px;
    width: 42px;
    margin: auto;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: #4fc5d0;
    background: #b9efef;
    border-radius: 50%;
    border: 1px solid #4fc5d0; }

.auth-error-inline-form {
  font-size: 14px;
  color: #fb674e;
  text-align: right;
  width: 100%;
  max-width: 395px;
  padding-bottom: 10px;
  height: 20px; }

.auth-signup-header {
  font-size: 30px;
  font-weight: 600; }

.auth-inline-input-icon {
  display: inline; }

.gray-bg, .blue-bg {
  background: #949aa6;
  height: 58px;
  margin: auto;
  border-radius: 3px;
  width: 100%;
  max-width: 320px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 20px; }

.signup .gray-bg, .signup .blue-bg {
  margin-left: 15px; }

.blue-bg {
  background: #4c7bd9; }

.auth-input-signup-password-label {
  display: flex;
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 10px; }

.auth-input-signup-password {
  width: 100%;
  max-width: 300px;
  margin: 0 auto; }
  .auth-input-signup-password input {
    width: calc(100% - 15px );
    display: block;
    padding: 10px 15px;
    margin: 0 auto 10px;
    border: none;
    font-size: 15px;
    line-height: 20px;
    background-color: #fff;
    color: #2a2f35;
    border-radius: 3px; }

/*# sourceMappingURL=output.css.map */
